.creator-profile {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("../../assets/images/backgroundTwo.jpg");
  background-position: top;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 30px;
}

.creator-body {
  width: 70%;
  margin: 0 auto;
  background: #eeeeee;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid #3f51b5;
}

.creator-body h1 {
  color: #1a237e;
}

.title-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-row {
  display: flex;
  align-items: center;
}

.like-row p {
  margin: 0;
  color: #d32f2f;
  margin-bottom: 3px;
}

.creator-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.image-thumbnail {
  width: 100%;
  height: auto;
}

.like-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

.like-button.liked {
  background-color: #f44336;
}

.comment-section {
  margin-top: 40px;
  border-top: 1px solid #bdbdbd;
}

.editProfile-body {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  border: 5px solid #303f9f;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.uploadImage {
  width: 150px;
  height: 35px;
  margin: 6px;
  background: #1a237e;
  color: #e8eaf6;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
}

.removeImage {
  width: 150px;
  height: 35px;
  margin: 6px;
  background: none;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
  background: #ffcdd2;
}

.egister-form-long .input-text {
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #7986cb;
  padding: 8px;
}

.egister-form-long .input-textarea {
  width: 95%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #7986cb;
  padding: 8px;
}

.change-password {
  width: 150px;
  height: 40px;
  margin: 6px;
  background: none;
  border: 1px solid #1a237e;
  color: #1a237e;
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
}

.cancelBtn {
  width: 150px;
  height: 40px;
  margin: 6px;
  background: none;
  border: 1px solid #d32f2f;
  color: #d32f2f;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
}

.saveBtn {
  width: 150px;
  height: 40px;
  margin: 6px;
  background: #1a237e;
  color: #e8eaf6;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
}

.image-card {
  border: 1px solid #7986cb;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  background-color: #f9f9f9;
  position: relative;
  padding-bottom: 60px;
}

.image-card h3 {
  margin-bottom: 0;
}

.image-card p {
  margin-top: 5px;
}

.detailBtn {
  width: 100%;
  height: 40px;
  background: #283593;
  color: #e8eaf6;
  font-weight: 600;
  border-radius: 5px;
  font-size: 13px;
}

.view-detail-btn {
  width: 94%;
  position: absolute;
  bottom: 10px;
}

.detailBtn:hover {
  background: #3949ab;
}

.comments-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 0;
}

.comment-item {
  width: 60%;
  padding: 15px;
  background: #fff;
  border: 1px solid #9fa8da;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 0;
}